body{
    background-color: pink;
    margin: 0;
}

/* FORMULARIO ------------------------*/
.form {
    position: absolute;
    top: 30%;
    z-index: 50;
    left: 5%;
    font-size: 1.5em;
    background-color: rgba(5, 5, 5, .8);
    width: 90%;
    max-width: 400px;
    height: 90%;
    max-height: 300px;
    padding: 10px;
    color: rgb(180,180,180);
}

#name {
    width: 80%;
}

#mail {
    width: 80%;
}

#message {
    width: 80%;
}